.testimonial,
.latest-news {
  background: color(light-grey);
}

.cta {
  background: color(primary);
  color: #fff;
}

.news-post {
  background: #fff;

  img {
    max-width: 100%;
  }
}

.carousel {
  .item {
    background-size: cover !important;
    width: 100%;
    min-height: 70vh;
  }
}

// Controls container for embedded media
.entry-content-asset {
  text-align: center;
}

.panels {
  flex-wrap: wrap;

  .panel {
    min-height: 60vh;
    background-size: cover !important;

    @include MQ(S) {
      min-height: 40vh;
      width: 100% !important;
    }
  }
}
